{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Add New To-Do</h1>
    <form method="POST" action="{{ url_for('add_todo') }}">
        {{ form.hidden_tag() }}  
        <fieldset class="form-group">
            <legend>To-Do Details</legend>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    {% for error in form.name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.completed.label(class="form-control-label") }}
                {% if form.completed.errors %}
                    {{ form.completed(class="form-control is-invalid") }}
                    {% for error in form.completed.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {{ form.completed(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    {% for error in form.description.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>

   
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
